.table-menu {
    background-color: gray;
    margin: 0 auto;
    width: 1200px;
}
body {
    margin: 0 auto;
}
.start {
    background: url("../imggreencity/banner.png");
    width: 1200px;
}
.start td, .table-menu td {
    text-align: center;
    color: white;
}
td.logo {
    text-align: left;
}