.table-menu {
    background-color: gray;
    margin: 0 auto;
    width: 1200px;
}
body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.start {
    background: url("../imggreencity/banner.png");
    width: 1200px;
}
.table-menu td, .start td, a {
    text-align: center;
    color: white;
}
a {
    text-decoration: none;
}
td.logo {
    text-align: left;
}
.info {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 800px;
    height: 146px;
    top: 538px;
    margin: 0 auto
}